.data-table-container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 12rem;
    margin-right: 12rem;
}

.filter-content {
    padding-top: 50px;
    /* padding-bottom: 15px; */
    margin-left: 12rem;
    margin-right: 12rem;
}

.select-box {
    width: 25rem;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

.data-table {
    background-color: #fff;
    width: 100%;
    overflow-x: auto;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.data-key {
    background-color: #b5b5b6;
    width: 30px;
}




